@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background: #e2cdbd;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 0;
}

section {
    height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
}

section.details {
    height: 150vh;
    color: white;
    position: relative;
    display: flex;

    .inner {
        position: relative;
        z-index: 1;
        text-align: left;
        display: grid;
        margin-top: 5%;

        ul {
            display: flex;
            list-style-type: none;
            gap: 3rem;
            align-self: top;
            justify-content: center;

            li {
                width: 25%;
                overflow: hidden;

                strong {
                    margin-bottom: 1rem;
                    display: block;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

.mask {
    overflow: hidden;
}

h1 {
    font-size: 8rem;
}

.subhead {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
}